In [2]:
#将下面的字典创建为DataFrame
import pandas as pd
import numpy as np

data = {"grammer":["Python","C","Java","GO",np.nan,"SQL","PHP","Python"],
       "score":[1,2,np.nan,4,5,6,7,10]}
df = pd.DataFrame(data)
df

  grammer  score
0  Python    1.0
1       C    2.0
2    Java    NaN
3      GO    4.0
4     NaN    5.0
5     SQL    6.0
6     PHP    7.0
7  Python   10.0

In [4]:
#提取含有字符串"Python"的行
df[df['grammer']=='Python']

  grammer  score
0  Python    1.0
7  Python   10.0

In [5]:
result = df['grammer'].str.contains("Python")
result.fillna(value=False,inplace=True)
df[result]

  grammer  score
0  Python    1.0
7  Python   10.0

In [6]:
#输出df的所有列名
print(df.columns)

Index(['grammer', 'score'], dtype='object')

In [7]:
#修改第二列列名为'popularity'
df.rename(columns={"score":"popularity"},inplace=True)
df

  grammer  popularity
0  Python         1.0
1       C         2.0
2    Java         NaN
3      GO         4.0
4     NaN         5.0
5     SQL         6.0
6     PHP         7.0
7  Python        10.0

In [8]:
#统计grammer列中每种编程语言出现的次数
df["grammer"].value_counts()

Python    2
C         1
PHP       1
Java      1
SQL       1
GO        1
Name: grammer, dtype: int64

In [9]:
#将空值用上下值的平均值填充
df['popularity'] = df['popularity'].fillna(df['popularity'].interpolate())
df

  grammer  popularity
0  Python         1.0
1       C         2.0
2    Java         3.0
3      GO         4.0
4     NaN         5.0
5     SQL         6.0
6     PHP         7.0
7  Python        10.0

In [10]:
#提取popularity列中值大于3的行
df[df["popularity"]>3]

  grammer  popularity
3      GO         4.0
4     NaN         5.0
5     SQL         6.0
6     PHP         7.0
7  Python        10.0

In [11]:
#按照grammer列进行去除重复值
df.drop_duplicates(["grammer"])

  grammer  popularity
0  Python         1.0
1       C         2.0
2    Java         3.0
3      GO         4.0
4     NaN         5.0
5     SQL         6.0
6     PHP         7.0

In [12]:
#计算popularity列平均值
df["popularity"].mean()

4.75

In [13]:
#将grammer列转换为list
df["grammer"].to_list()

['Python', 'C', 'Java', 'GO', nan, 'SQL', 'PHP', 'Python']

In [14]:
#将DataFrame保存为EXCEL
df.to_excel("test.xlsx")

In [15]:
#查看数据行列数
df.shape

(8, 2)

In [16]:
#提取popularity列值大于3小于7的行
df[(df["popularity"]>3)&(df["popularity"]<7)]

  grammer  popularity
3      GO         4.0
4     NaN         5.0
5     SQL         6.0

In [17]:
#交换两列位置
df

  grammer  popularity
0  Python         1.0
1       C         2.0
2    Java         3.0
3      GO         4.0
4     NaN         5.0
5     SQL         6.0
6     PHP         7.0
7  Python        10.0

In [18]:
cols = df.columns[[1,0]]
df = df[cols]
df

   popularity grammer
0         1.0  Python
1         2.0       C
2         3.0    Java
3         4.0      GO
4         5.0     NaN
5         6.0     SQL
6         7.0     PHP
7        10.0  Python

In [19]:
#提取popularity列最大值所在行
df[df['popularity'] == df['popularity'].max()]

   popularity grammer
7        10.0  Python

In [20]:
#查看最后5行数据
df.tail()

   popularity grammer
3         4.0      GO
4         5.0     NaN
5         6.0     SQL
6         7.0     PHP
7        10.0  Python

In [21]:
df.tail(3)

   popularity grammer
5         6.0     SQL
6         7.0     PHP
7        10.0  Python

In [22]:
#删除最后一行数据
df.drop([len(df)-1],inplace=True)
df

D:\Anaconda3\lib\site-packages\pandas\core\frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

   popularity grammer
0         1.0  Python
1         2.0       C
2         3.0    Java
3         4.0      GO
4         5.0     NaN
5         6.0     SQL
6         7.0     PHP

In [23]:
#添加一行数据['Perl',6.6]
row = {'grammer':'Perl','popularity':6.6}
df = df.append(row,ignore_index=True)
df

   popularity grammer
0         1.0  Python
1         2.0       C
2         3.0    Java
3         4.0      GO
4         5.0     NaN
5         6.0     SQL
6         7.0     PHP
7         6.6    Perl

In [24]:
#对数据按照"popularity"列值的大小进行排序
df.sort_values("popularity",inplace=True)
df

   popularity grammer
0         1.0  Python
1         2.0       C
2         3.0    Java
3         4.0      GO
4         5.0     NaN
5         6.0     SQL
7         6.6    Perl
6         7.0     PHP

In [25]:
#统计grammer列每个字符串的长度
df["grammer"]=df["grammer"].fillna("R")
df["len_str"]=df["grammer"].map(lambda x:len(x))
df

   popularity grammer  len_str
0         1.0  Python        6
1         2.0       C        1
2         3.0    Java        4
3         4.0      GO        2
4         5.0       R        1
5         6.0     SQL        3
7         6.6    Perl        4
6         7.0     PHP        3

In [30]:
#读取本地EXCEL数据
df = pd.read_excel("D:/研一上资料/锻炼打卡/2.16打卡公示.xlsx")
df

,编号：,姓名：,学号：,联系电话：,学院：,您今日选择的赛道（此题可多选）：_距离打卡,您今日选择的赛道（此题可多选）：_原地打卡,您今日选择的赛道（此题可多选）：_进步打卡,您今日消耗的卡路里总和（Kcal）：,截至目前，您消耗卡路里总和（Kcal）：,备注
0,1,欧亿辉,42201414,13599334686,化工学院,选中,未选中,未选中,80.0,2601.0,NaN
1,2,刘毅,228527042,18307079727,先进制造学院与海洋学院,选中,未选中,未选中,50.0,1014.0,NaN
2,3,李海锦,12201213,13960851725,电气工程与自动化学院,选中,未选中,未选中,51.0,1663.0,NaN
3,4,陈可瞳,852301321,15960090548,先进制造学院与海洋学院,未选中,选中,选中,116.0,2287.0,NaN
4,5,张怡暄,231127203,15280860172,物理与信息工程学院 、微电子学院,未选中,选中,未选中,88.0,989.0,视频未露脸
...,...,...,...,...,...,...,...,...,...,...,...
272,273,吴志彬,231320092,13850504315,化学学院,选中,未选中,未选中,208.0,586.0,NaN
273,274,左雨婷,221927076,15701527144,法学院,未选中,选中,未选中,106.0,4067.0,NaN
274,275,周霖岚,72208122,19305019812,数学与统计学院,未选中,选中,未选中,88.0,1863.0,NaN
275,276,陈晓语,152102219,13348273376,建筑与城乡规划学院,未选中,选中,未选中,51.0,1688.0,NaN
276,277,李司烁,230727051,15124905706,经济与管理学院,未选中,选中,未选中,52.0,1720.0,NaN

In [31]:
df.head()

,编号：,姓名：,学号：,联系电话：,学院：,您今日选择的赛道（此题可多选）：_距离打卡,您今日选择的赛道（此题可多选）：_原地打卡,您今日选择的赛道（此题可多选）：_进步打卡,您今日消耗的卡路里总和（Kcal）：,截至目前，您消耗卡路里总和（Kcal）：,备注
0,1,欧亿辉,42201414,13599334686,化工学院,选中,未选中,未选中,80.0,2601.0,NaN
1,2,刘毅,228527042,18307079727,先进制造学院与海洋学院,选中,未选中,未选中,50.0,1014.0,NaN
2,3,李海锦,12201213,13960851725,电气工程与自动化学院,选中,未选中,未选中,51.0,1663.0,NaN
3,4,陈可瞳,852301321,15960090548,先进制造学院与海洋学院,未选中,选中,选中,116.0,2287.0,NaN
4,5,张怡暄,231127203,15280860172,物理与信息工程学院 、微电子学院,未选中,选中,未选中,88.0,989.0,视频未露脸

In [38]:
print(df.groupby('学院：').mean())

                         编号：           学号：         联系电话：  您今日消耗的卡路里总和（Kcal）：  \
学院：
人文社会科学学院          113.857143  2.738497e+08  1.598685e+10          564.428571
先进制造学院与海洋学院       160.375000  6.886258e+08  1.624554e+10          261.937500
化学学院              164.000000  1.521050e+08  1.576668e+10          106.800000
化工学院              113.571429  6.907612e+07  1.584147e+10           76.428571
厦门工艺美术学院          175.500000  2.317271e+08  1.691295e+10          404.500000
土木工程学院            118.130435  1.056271e+08  1.669288e+10          123.521739
外国语学院             103.000000  9.222534e+07  1.596806e+10           59.575000
建筑与城乡规划学院         201.000000  1.634621e+08  1.513299e+10           97.285714
数字中国研究院福建          46.000000  2.355200e+08  1.895623e+10          147.000000
数学与统计学院           104.000000  4.778157e+07  1.785567e+10          120.333333
机械工程及自动化学院        184.000000  2.226911e+07  1.658862e+10           99.666667
梅努斯国际工程学院         151.565217  7.997002e+08  1.504249e+10          106.913043
法学院               131.600000  1.981696e+08  1.705601e+10          107.838000
物理与信息工程学院 、微电子学院  154.000000  1.662667e+08  1.542356e+10          157.363636
环境与安全工程学院         141.333333  1.184092e+08  1.579606e+10           56.666667
生物科学与工程学院         214.500000  1.069881e+08  1.499894e+10          117.333333
电气工程与自动化学院        133.306452  1.869697e+07  1.607890e+10          185.532258
紫金地质与矿业学院         159.750000  1.623029e+08  1.866644e+10          223.250000
经济与管理学院           137.157895  1.624157e+08  1.597331e+10          163.763158
计算机与大数据学院 、软件学院   138.300000  1.145949e+08  1.653461e+10          264.900000
马克思主义学院            41.000000  8.323032e+08  1.575936e+10          246.000000

                  截至目前，您消耗卡路里总和（Kcal）：
学院：
人文社会科学学院                   5044.285714
先进制造学院与海洋学院                4852.000000
化学学院                       1264.600000
化工学院                       2454.000000
厦门工艺美术学院                   6489.500000
土木工程学院                     1891.086957
外国语学院                       753.025000
建筑与城乡规划学院                  1366.000000
数字中国研究院福建                  1738.000000
数学与统计学院                    1859.888889
机械工程及自动化学院                 1690.333333
梅努斯国际工程学院                  2446.173913
法学院                        2176.902800
物理与信息工程学院 、微电子学院           2708.818182
环境与安全工程学院                   893.333333
生物科学与工程学院                  1816.666667
电气工程与自动化学院                 2461.354839
紫金地质与矿业学院                  2191.250000
经济与管理学院                    2541.394737
计算机与大数据学院 、软件学院            2567.160000
马克思主义学院                    4448.000000

In [39]:
#查看索引、数据类型和内存信息
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 277 entries, 0 to 276
Data columns (total 11 columns):
编号：                      277 non-null int64
姓名：                      277 non-null object
学号：                      277 non-null int64
联系电话：                    277 non-null int64
学院：                      277 non-null object
您今日选择的赛道（此题可多选）：_距离打卡    277 non-null object
您今日选择的赛道（此题可多选）：_原地打卡    277 non-null object
您今日选择的赛道（此题可多选）：_进步打卡    277 non-null object
您今日消耗的卡路里总和（Kcal）：       277 non-null float64
截至目前，您消耗卡路里总和（Kcal）：     277 non-null float64
备注                       18 non-null object
dtypes: float64(2), int64(3), object(6)
memory usage: 23.9+ KB

In [40]:
#查看数值型列的汇总统计
df.describe()

,编号：,学号：,联系电话：,您今日消耗的卡路里总和（Kcal）：,截至目前，您消耗卡路里总和（Kcal）：
count,277.00000,2.770000e+02,2.770000e+02,277.000000,277.000000
mean,139.00000,2.043150e+08,1.618398e+10,170.513538,2515.645740
std,80.10722,2.552721e+08,2.614859e+09,311.059210,3350.191545
min,1.00000,1.023003e+07,1.523296e+09,50.000000,63.000000
25%,70.00000,4.220223e+07,1.395842e+10,61.000000,1158.000000
50%,139.00000,1.023041e+08,1.592815e+10,89.000000,1709.000000
75%,208.00000,2.307200e+08,1.835001e+10,178.000000,2640.000000
max,277.00000,8.523035e+08,1.997167e+10,3180.000000,30782.000000